@import url('../variable.css');

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

p {
    font-size: 1rem;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    height: 20vh;
    width: 30vw;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
    font-size: 2rem;
    font-weight: bold;
    padding: 3%;
    border-bottom: var(--border-color);
}

.filtros {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.filtrosVisiveis {
    min-height: fit-content;
    max-height: 1500px;
    transition: max-height 0.5s ease-in;
    overflow: visible;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
}

.projetobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    max-height: fit-content;
    padding: 3%;
    width: 97vw;
    background-color: whitesmoke;
    border-radius: 1.5rem;
}

.projeto {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Garante que os elementos fiquem distribuídos igualmente */
    align-items: center;
    gap: 5%; /* Diminui o espaço entre os itens */
    width: 100%;
    min-height: fit-content;
    height: auto;
    padding: 3%;
    border-bottom: var(--border-color);
    border-radius: 1rem;
    word-wrap: break-word;
}

.projeto:hover {
    background-color: var(--form-color);
    cursor: pointer;
}

/* Estilos para garantir alinhamento uniforme */
.projeto p {
    white-space: normal;
    overflow-wrap: break-word;
    text-align: left;
}

/* Definir larguras específicas para cada coluna */
.projeto p:nth-child(1) {
    max-width: 25vw; /* Definindo uma largura máxima para o título */
    width: 30%; /* Largura para o título */
}

.projeto p:nth-child(2),
.projeto p:nth-child(3) {
    width: 15%; /* Largura para as datas */
    text-align: center; /* Alinha as datas no centro */
}

.projeto p:nth-child(4) {
    width: 10%; /* Largura para o valor */
    text-align: right; /* Alinha o valor à direita */
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px; /* Espaçamento superior */
  }

  @media (max-width: 600px) {
    .projeto {
        flex-direction: column; /* Empilha os itens verticalmente em telas pequenas */
        align-items: flex-start; /* Alinha os itens ao topo */
        padding: 5%; /* Ajusta o padding para maior espaçamento */
    }

    .projeto p {
        width: 100%;
        margin: 5px 0; /* Adiciona margem vertical para espaçamento */
    }

    .projeto p:nth-child(1) {
        /* max-width: 25vw; */ /* Definindo uma largura máxima para o título */
        width: 100%; /* Largura para o título */
    }
    
    .projeto p:nth-child(2),
    .projeto p:nth-child(3) {
        width: 100%; /* Largura para as datas */
        text-align: center; /* Alinha as datas no centro */
    }
    
    .projeto p:nth-child(4) {
        width: 100%; /* Largura para o valor */
        text-align: right; /* Alinha o valor à direita */
    }
}